* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  height: 100%;
}

#app {
  margin: 0 !important;
  padding: 0 !important;
}
